<form class='htmx-request' hx-post='.' hx-swap='outerHTML' hx-trigger='{% if form.instance.id %}change delay:500ms, {% endif %}submit'>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {% csrf_token %}
    {% for field in form %}
    <div class="{% if field.field.required %}required-class{% endif %}">
        {{ field.errors }}
        {{ field.label_tag }} {{field }}
        {% if field.help_text %}
            <p class="help">{{ feild.help_text|safe}}</p>
        {% endif %}
    </div>
    {% endfor %}
    <a href="{{ object.get_delete_url }}">Delete</a>

        <button class= type="submit">Save</button>
</form>